.welcome {
    max-width: 80%;
    height: auto;
}

#container {
    position: fixed;
    left: 8%;  
}

div.button {
    max-width: 100%;
    height: auto;
}

.button {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: lightskyblue;
    color:cornflowerblue;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}

.button:hover {
    background-color: lightblue;
}

.button2 {
    position: absolute;
    top: 80%;
    right: 30%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    color: cornflowerblue;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}

.button2:hover {
    background-color: lightblue;
}

.button3 {
    position: absolute;
    top: 4%;
    right: 12%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    color: cornflowerblue;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}

.button3:hover {
    background-color: lightblue;
}

body {
    background-image: url(./Images/SystemBG.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
}

#status {
    position: absolute;
    top: 10%;
    left: 8%;
    visibility: hidden;   
}

.status {
    max-width: 80%;
    height: auto;
}
