.welcome {
    position: relative;    
    max-width: 80vw;
    max-height: 100vmin; 
}

.button {
    position: absolute;
    top: 80%;
    left: 35%;
    background-color: lightskyblue;
    color: cornflowerblue;
    font-size: 2vw;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}

.button2 {
    position: absolute;
    top: 80%;
    right: 30%;
    background-color: skyblue;
    color: cornflowerblue;
    font-size: 2vw;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}

#container {
    position: fixed;
    left: 8%;
}

div.button {
    max-width: 100%;
    height: auto;
}

.button:hover {
    background-color: greenyellow;
    color: black;
}

.button2:hover {
    background-color: red;
    color: white;
}

body {
    background-image: url(./Images/SystemBG.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
}



.status {
    position: relative;
    height: auto;
    max-width: 80vw;
}

.button3 {
    position: absolute;
    top: 4%;
    right: 15%;
    background-color: skyblue;
    color: cornflowerblue;
    font-size: 2vmin;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 1%;
}
.button3:hover {
        background-color: red;
        color: white;
}

#status {
    visibility: hidden;
}